<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.SAPLM">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:name="com.example.SAPLM.Application"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.SAPLM.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.SAPLM.settingsActivities.settings_layout"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.InternetConectivityActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.AppearanceMiscellaneousActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.BluetoothSettingsActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.ContactsCommunicationActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.InformationHelpActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.VoiceRecognitionSettingsActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.CommandsSettingsActivity"></activity>
            <activity android:name="com.example.SAPLM.settingsActivities.DeveloperConsoleActivity"></activity>

        <activity android:name="com.example.SAPLM.bluetoothActivities.BluetoothActivity"></activity>
        <activity android:name="com.example.SAPLM.commandActivity.CommandsActivity"></activity>
        <activity android:name="com.example.SAPLM.ContactsActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />



    </application>

</manifest>